@value makerWheat, makerBlack, makerWhite, makerColorful, makerShadow from '../../common/colors.css';

.card {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5em;
  border-radius: 1em;
  padding: 0.2em 0;
  background-color: yellow;
  box-shadow: 6px 6px 8px 0px makerShaodow;
  max-width: 30rem;
}

.card.dark {
  background: makerBlack;
  color: makerWhite;
}

.card.light {
  background: makerWhite;
  color: makerBlack;
}

.card.colorful {
  background: makerColorful;
}

.avatar {
  width: 10em;
  height: 10em;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 1em;
  border-radius: 50%;
}

.info {
  width: 100%;
}

.name,
.company,
.title,
.email,
.message {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}

.name {
  font-size: 1.2rem;
}

.company {
  margin-bottom: 1em;
}

/* 구분선 */
.company::after {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  background: makerWheat;
  /* 구분선을 중앙으로 내리기 위해 사용, company의 margin-bottom의 반으로 설정해주면 된다. */
  transform: translateY(0.5em);
}
